Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
supabase
.npmrc
.prettierrc
.eslintrc.cjs
.graphqlrc
.editorconfig
.svelte-kit
.vscode
secret.txt
stuff.lnk
node_modules
build
package
.eslintignore
ghbnav.code-workspace