# Source -> https://gist.github.com/aradalvand/04b2cad14b00e5ffe8ec96a3afbb34fb

Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
supabase
.npmrc
.prettierrc
.eslintrc.cjs
.graphqlrc
.editorconfig
.vscode
.env
secret.txt
stuff.lnk
node_modules
build
package
.eslintignore
ghbnav.code-workspace
droplet_backup
